#back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;

}

#back-to-top a {
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.5) url(../img/backtotop.png) no-repeat center center;
    text-indent: -9999px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition:0.4s all ease;
    -moz-transition:0.4s all ease;
    -o-transition:0.4s all ease;
    transition:0.4s all ease;
}

#back-to-top a:hover { background-color: #289dcc }
h2 a{
    color: #e45c54;
}

@media  (max-width: 767px) {
  header  h1 {
font-size: 30px !important;
}
}
@media (max-width: 480px) {
   header h1 {
        font-size: 26px !important;
    }
}