.gm-style-iw .camera-info {
  width: 150px !important;
  height: auto;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: none;
  cursor: pointer;
}
#markerLayer img {
  border: 2px solid white !important;
  width: 50px !important;
  height: auto !important;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}
.gmnoprint {
  max-width: 50px !important;
  max-height: 50px !important;
}
.camera {
  background-color: #eeeeee;
  background-image: url('/img/puff.svg');
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 45px;
}
.camera-thumbnail {
  border: 10px solid white !important;
  width: 150px;
  height: auto;
}
.camera-snapshot {
  cursor: pointer;
}
.camera-info-name {
  display: block;
  position:absolute;
  font-size: 12px;
  bottom:0;
  color:#fff;
  padding:15px 15px;
}
.camera-wrap {
  margin-bottom: 5px;
}
.add-to-account {
  font-size: 23px;
}
.add-to-account .large {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 23px;
  border-radius: 25px;
  background:rgba(255,255,255,0.7);
}
.add-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 5px 3px 5px;
  border-radius: 15px;
  background:rgba(255,255,255,0.7);
  cursor: pointer;
}
.add-to-account:hover {
  background:rgba(255,255,255,0.9);
}
.off {
  color: #ff0000;
}

.modal {
  padding: 0px;
}

.sidebar-links {
  font-size: 13px;
  line-height: 1.3;
  padding: 0px 15px;
}

.fa-sign-in {
  color: #428bca;
}

#user-login {
  display: inline;
}

#camera-single {
  background-image: url('/img/puff.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

#camera-image-container {
  height: auto;
}

#camera-image {
  height: auto;
}

.live-view {
  background-color: #fff;
  min-height: 66px;

}

.live-view img {
  width: 100%;
  height: auto;
}

#lnkBacktoMap {
  padding: 1px 10px;
  border-radius: 25px;
  background:rgba(255,255,255,0.4);
}

#camera-details-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

#static-map {
  width:100%;
  cursor: pointer;
  border: none;
}

a#lnkBacktoMap {
  position: absolute;
  top: 15px;
  left: 11px;
}

.details {
  font-size: 15px;
}

.details td {
  padding-bottom: 5px;
}

.details td span {
  color: black;
  padding: 0px 15px 5px 0px;
  margin-left: 10px;
}

button#singin {
  width: 100%;
  margin: 20px auto;
}
.margin-top-15 {
  margin-top: 15px;
}

.bb-alert {
  position: fixed;
  top: 14px;
  left: 50%;
  padding: 0.8em 1em;
  z-index: 100000000000;
  font-size: 13px;
  width: 315px;
  text-align: center;
  margin-left: -142px;
}
.pull-right-space{
  float: right!important;
  padding-right: 8px;
}
.navbar-brand-space{
  height: 75px;

}
@media (max-width: 1100px){
  .navbar-brand-space{
    height: 130px;
  }
}
@media (max-width: 990px) {
  .navbar-brand-space {
    height: 50px;
  }
}

